---
import SignUpIntroLayout from "@frontend/src/layouts/SignUpIntroLayout.astro";
---

<SignUpIntroLayout>
  <h1 class="text-2xl font-extrabold text-white text-balance">
    Присоединяйтесь к Глобальной Торговой Платформе
  </h1>
  <p class="mt-4 text-balance text-neutral-content">
    Добро пожаловать на [Ваше Имя Сайта], ваш надежный путь к мировому рынку.
    Здесь вы можете легко находить надежных поставщиков и покупателей,
    обмениваться товарами и услугами с уверенностью. Наша платформа предлагает
    неограниченные возможности для расширения вашего бизнеса, предоставляя вам
    доступ к широкому ассортименту продукции и надежной сети профессионалов из
    различных отраслей. Регистрируйтесь сейчас, чтобы открыть для себя новые
    горизонты возможностей и стать частью глобальной торговой сети.
  </p>
</SignUpIntroLayout>
