---
import BaseLayout from "../../layouts/BaseLayout.astro";
import Profile from "../../components/profile/profile";
---

<BaseLayout title="Profile">
  <h1>Profile</h1>
  <Profile client:load />
</BaseLayout>
