---
import MessagesLayout from "@frontend/src/layouts/MessagesLayout.astro";
---

<MessagesLayout>
  <div class="w-full h-full">
    <div class="flex flex-col items-center justify-center h-full">
      <h1 class="text-4xl font-bold text-center">Выберите диалог</h1>
    </div>
  </div>
</MessagesLayout>
