<div class="max-w-[900px] mx-auto gap-2 grid grid-cols-12 px-8">
  <div
    class="col-span-12 sm:col-span-4 h-[400px] relative bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
  >
    <img
      class="w-full h-full rounded-xl"
      src="https://images.pexels.com/photos/3585856/pexels-photo-3585856.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
    <div class="absolute top-0 start-0 end-0">
      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-white">Card title</h3>
        <p class="mt-1 text-white/90">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="mt-5 text-xs text-gray-500">Last updated 5 mins ago</p>
      </div>
    </div>
  </div>
  <div
    class="col-span-12 sm:col-span-4 h-[400px] relative bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
  >
    <img
      class="w-full h-full rounded-xl"
      src="https://images.pexels.com/photos/4210863/pexels-photo-4210863.jpeg?auto=compress&cs=tinysrgb&w=400"
    />
    <div class="absolute top-0 start-0 end-0">
      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-white">Card title</h3>
        <p class="mt-1 text-white/90">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="mt-5 text-xs text-gray-500">Last updated 5 mins ago</p>
      </div>
    </div>
  </div>
  <div
    class="col-span-12 sm:col-span-4 h-[400px] relative bg-white border shadow-sm rounded-xl dark:bg-slate-900 dark:border-gray-700 dark:shadow-slate-700/[.7]"
  >
    <img
      class="w-full h-full rounded-xl"
      src="https://images.pexels.com/photos/365067/pexels-photo-365067.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1"
    />
    <div class="absolute top-0 start-0 end-0">
      <div class="p-4 md:p-5">
        <h3 class="text-lg font-bold text-white">Card title</h3>
        <p class="mt-1 text-white/90">
          Some quick example text to build on the card title and make up the
          bulk of the card's content.
        </p>
        <p class="mt-5 text-xs text-gray-500">Last updated 5 mins ago</p>
      </div>
    </div>
  </div>
</div>
