---
import ProfileLayout from "@frontend/src/layouts/ProfileLayout.astro";
import { ProfileFormsListPage } from "@frontend/src/components/profile/forms/list/page";
---

<ProfileLayout>
  <div>
    <a href="/profile/forms/new" class="btn btn-primary mb-6">
      Добавить форму</a
    >
    <ProfileFormsListPage client:only />
  </div>
</ProfileLayout>
