---
import ProfileLayout from "@frontend/src/layouts/ProfileLayout.astro";
---

<ProfileLayout>
  <div class="flex flex-col">
    <div class="-m-1.5 overflow-x-auto">
      <div class="p-1.5 min-w-full inline-block align-middle">
        <div
          class="border rounded-lg overflow-hidden border-gray-300 dark:border-gray-700"
        >
          <table
            class="min-w-full divide-y divide-gray-300 dark:divide-gray-700"
          >
            <thead class="bg-gray-50 dark:bg-gray-700">
              <tr>
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-base font-bold text-gray-500 uppercase dark:text-gray-400"
                >
                  id
                </th>
                <th
                  scope="col"
                  class="px-6 py-3 text-start text-base font-bold text-gray-500 uppercase dark:text-gray-400"
                >
                  Status
                </th>
              </tr>
            </thead>
            <tbody class="divide-y divide-gray-300 dark:divide-gray-700">
              <tr>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
                >
                  John Brown
                </td>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  45
                </td>
              </tr>
              <tr>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
                >
                  Jim Green
                </td>

                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  27
                </td>
              </tr>
              <tr>
                <td
                  class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-800 dark:text-gray-200"
                >
                  Jim Cook
                </td>

                <td
                  class="px-6 py-4 whitespace-nowrap text-sm text-gray-800 dark:text-gray-200"
                >
                  64
                </td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</ProfileLayout>
