---
import "../styles/global.css";

import Header from "../components/layout/Header";
import Footer from "../components/layout/Footer";
import { Breadcrumbs } from "astro-breadcrumbs";
import CategoriesFilterServer from "../components/manufacturers/filter/CategoriesServer.astro";
import { ViewTransitions } from "astro:transitions";
import { trpcClient } from "../utils/trpc-server";

const { title, showHeaderFilter = false } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{title ?? "Лёгкая промышленность"}</title>
  </head>
  <body>
    <Header showHeaderFilter={showHeaderFilter} />
    <div class="container min-h-screen mx-auto py-4">
      {
        pathname !== "/" && (
          <Breadcrumbs indexText="Home" mainBemClass="breadcrumbs" />
        )
      }
      {showHeaderFilter && <CategoriesFilterServer />}
      <slot />
    </div>
    <Footer />
    <script type="text/partytown">
        (function(w,d,u){
                var s=d.createElement('script');s.async=true;s.src=u+'?'+(Date.now()/60000|0);
                var h=d.getElementsByTagName('script')[0];h.parentNode.insertBefore(s,h);
        })(window,document,'https://cdn-ru.bitrix24.ru/b8428267/crm/site_button/loader_25_7qxx7m.js');
    </script>
  </body>
</html>
