---
import "../styles/global.css";

import Header from "../components/layout/Header";
import Footer from "../components/layout/Footer";
import { trpcClient } from "@frontend/src/utils/trpc-server";
import { Breadcrumbs } from "astro-breadcrumbs";
import CategoriesFilterServer from "../components/manufacturers/filter/CategoriesServer.astro";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "sonner";
import { trpcClient } from "../utils/trpc-server";

let { title, showHeaderFilter = false } = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const url = Astro.url.pathname + Astro.url.search;
console.log("url", url);
const seoLink = await trpcClient.seoLinks.getByLink.query({
  link: url,
});
console.log("seoLink", seoLink);
if (seoLink) {
  title = seoLink.title;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{title ?? "Лёгкая промышленность"}</title>
  </head>
  <body>
    <Header showHeaderFilter={showHeaderFilter} />
    <div class="container min-h-screen mx-auto py-4">
      {
        pathname !== "/" && (
          <Breadcrumbs indexText="Home" mainBemClass="breadcrumbs" />
        )
      }
      {showHeaderFilter && <CategoriesFilterServer />}
      <slot />
    </div>
    <Footer client:load />
    <Toaster richColors client:load />
    <script type="text/partytown" src="/openlines_b24.js"></script>
  </body>
</html>
