---
import "../styles/global.css";

import Header from "../components/layout/Header";
import Footer from "../components/layout/Footer";
import { Breadcrumbs } from "astro-breadcrumbs";
import CategoriesFilterServer from "../components/manufacturers/filter/CategoriesServer.astro";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "sonner";
import { apiClient } from "../utils/eden";

let {
  title,
  showHeaderFilter = false,
  disableBreadcrumbs = false,
} = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const url = Astro.url.pathname + Astro.url.search;
console.log("url", url);
const seoLink = await apiClient.api.seo_links.by_link.get({
  $query: {
    link: url,
  },
});
if (seoLink && seoLink.data && "id" in seoLink.data) {
  title = seoLink.data.title;
}
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{title ?? "Лёгкая промышленность"}</title>
  </head>
  <body class="bg-white dark:bg-slate-900">
    <Header />
    <div class="container min-h-screen mx-auto py-4">
      {
        pathname !== "/" && disableBreadcrumbs == false && (
          <Breadcrumbs indexText="Home" mainBemClass="breadcrumbs" />
        )
      }
      {showHeaderFilter && <CategoriesFilterServer />}
      <slot />
    </div>
    <Footer client:load />
    <Toaster richColors client:load />
    <script type="text/partytown" src="/openlines_b24.js"></script>
  </body>
</html>
