---
import "../styles/global.css";

import Header from "../components/layout/Header.astro";
import Footer from "../components/layout/Footer.astro";
import { Breadcrumbs } from "astro-breadcrumbs";
import CategoriesFilterServer from "../components/manufacturers/filter/CategoriesServer.astro";
import { ViewTransitions } from "astro:transitions";
import { Toaster } from "sonner";
import { apiClient } from "../utils/eden";
import SetClientData from "../components/layout/SetClientData";
import { $userData } from "../store/auth";

let {
  title,
  showHeaderFilter = false,
  disableBreadcrumbs = false,
  customCrumbs = [],
} = Astro.props;
const pathname = new URL(Astro.request.url).pathname;
const url = Astro.url.pathname + Astro.url.search;
const seoLink = await apiClient.api.seo_links.by_link.get({
  $query: {
    link: url,
  },
});
if (seoLink && seoLink.data && "id" in seoLink.data) {
  title = seoLink.data.title;
}
$userData.set(Astro.locals.user);
---

<html lang="en" class="h-full">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <ViewTransitions />
    <title>{title ?? "Лёгкая промышленность"}</title>
  </head>
  <body class="bg-white dark:bg-slate-900 flex flex-col">
    <Header />
    <main class="container mx-auto py-4 shrink-0">
      {
        title && (
          <h1 class="mb-4 text-3xl font-extrabold leading-tight text-gray-900 lg:mb-6 lg:text-4xl dark:text-white">
            {title}
          </h1>
        )
      }
      {
        pathname !== "/" && disableBreadcrumbs == false && (
          <Breadcrumbs
            indexText="Главная"
            mainBemClass="breadcrumbs"
            crumbs={customCrumbs}
          />
        )
      }

      {
        pathname !== "/" ? (
          <div class="container">
            <slot />
          </div>
        ) : (
          <slot />
        )
      }
    </main>
    <Footer />
    <Toaster richColors client:load />
    <script type="text/partytown" src="/openlines_b24.js"></script>
    <script is:inline src="/node_modules/preline/preline.js"></script>
    <script is:inline>
      window.onload = function () {
        setTimeout(function () {
          if (window.HSStaticMethods) {
            console.log("HSStaticMethods", window.HSStaticMethods);
            window.HSStaticMethods.autoInit();
          }
        }, 100);
        // if (window.HSStaticMethods) {
        //   console.log("HSStaticMethods", window.HSStaticMethods);
        //   window.HSStaticMethods.autoInit();
        // }
      };
    </script>
  </body>
</html>
