---
import { FaRegUserCircle, FaUsers, FaWpforms } from "react-icons/fa";
import { BsBuildings } from "react-icons/bs";
import { MdOutlineSettingsApplications } from "react-icons/md";
import BaseLayout from "./BaseLayout.astro";
import {
  CircleUser,
  ClipboardList,
  MessageCircleQuestion,
  MessageSquareText,
} from "lucide-react";
const pathname = new URL(Astro.request.url).pathname;
let { title } = Astro.props;
const { permissions } = Astro.locals;
---

<BaseLayout>
  <div class="flex space-x-3">
    <nav class="mt-3">
      <ul class="menu bg-base-300 w-56 rounded-box">
        <li>
          <a href="/profile" class={pathname == "/profile" ? "active" : ""}>
            <CircleUser />
            Профиль
          </a>
        </li>
        <li>
          <a
            href="/profile/messages"
            class={pathname == "/profile/messages" ? "active" : ""}
          >
            <MessageSquareText />
            Сообщения
          </a>
        </li>
        <li>
          <a
            href="/profile/requests"
            class={pathname == "/profile/requests" ? "active" : ""}
          >
            <MessageCircleQuestion />
            Обращения
          </a>
        </li>
        {
          permissions && permissions.includes("forms.list") && (
            <li>
              <a
                href="/profile/forms"
                class={pathname.startsWith("/profile/forms") ? "active" : ""}
              >
                <ClipboardList />
                Формы
              </a>
            </li>
          )
        }
      </ul>
    </nav>

    <div class="w-full mt-3">
      <h1 class="text-2xl font-bold uppercase mb-3">{title}</h1>
      <slot />
    </div>
  </div>
</BaseLayout>
