---
import BaseLayout from "../layouts/BaseLayout.astro";
---

<BaseLayout title="Нет доступа" disableBreadcrumbs={true}>
  <div class="container mx-auto text-center">
    <img
      src="/404.webp"
      alt="Потерянная ткань"
      class="mx-auto mb-8"
      style="max-width: 500px;"
    />
    <h1 class="text-6xl font-bold text-gray-800 mb-4">Упс! 404</h1>
    <p class="text-lg text-gray-600 mb-8">
      Кажется, эта ткань потерялась. Давайте попробуем найти путь обратно.
    </p>
    <a
      href="/"
      class="rounded-full py-3 px-4 inline-flex items-center gap-x-2 text-sm font-semibold uppercase border border-transparent bg-blue-100 text-blue-800 hover:bg-blue-200 disabled:opacity-50 disabled:pointer-events-none dark:hover:bg-blue-900 dark:text-blue-400 dark:focus:outline-none dark:focus:ring-1 dark:focus:ring-gray-600"
      >Вернуться на главную</a
    >
  </div>
</BaseLayout>
