---
import BaseLayout from "../../layouts/BaseLayout.astro";
import CommentComponent from "../../components/reviews/CommentComponent";
import ManufacturersListServer from "../../components/manufacturers/ManufacturersListServer.astro";
---

<BaseLayout>
  <h1>Services</h1>
</BaseLayout>
